<div class="banner-my-seeds" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path "seeds.jpg" %>)">
  <div class="user-profile-header">
      <%= cl_image_tag current_user.photo, :gravity=>"face", :width=>234, :height=>234, :crop=>"thumb", class: "avatar-profile" %>
      <h1><%= @user.firstname%> <%= @user.lastname%></h1>
  </div>
  <div class="profile-content">
    <div class="level">
      <h2>Level : <%= @user.level %></h2>
    </div>
    <div class="current-seeds">
        <h2>Seeds</h2>
        <br>
          <div class="progress">
            <div class="level-line" style="left: 6.6%">
              <div class="label-txt">Lvl1</div>
              <div class="label-line"></div>
            </div>
            <div class="level-line" style="left: 20%">
              <div class="label-txt">Lvl2</div>
              <div class="label-line"></div>
            </div>
            <div class="level-line" style="left: 40%">
              <div class="label-txt">Lvl3</div>
              <div class="label-line"></div>
            </div>
            <div class="level-line" style="left: 66.6%">
              <div class="label-txt">Lvl4</div>
              <div class="label-line"></div>
            </div>
            <div class="level-line" style="left: 100%">
              <div class="label-txt">Lvl5</div>
              <div class="label-line"></div>
            </div>
            <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= @user.seeds * 100 / 1500 %>%" aria-valuenow="<%= @user.seeds %>" aria-valuemin="0" aria-valuemax="1500"><%= @user.seeds %></div>
          </div>
    </div>
  </div>
</div>
<div class="content-block">

    <br>
    <br>
    <h3>Rewards</h3>
    <br>
    <div class="row">
      <div class="column">
        <div class="reward-card <%= @user.level >= 1 ? 'unlocked' : 'locked' %>">
          <%= render 'shared/reward-card' %>
        </div>
      </div>
      <div class="column">
        <div class="reward-card <%= @user.level >= 2 ? 'unlocked' : 'locked' %>">
          <%= render 'shared/reward-card' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="reward-card <%= @user.level >= 3 ? 'unlocked' : 'locked' %>">
          <%= render 'shared/reward-card' %>
        </div>
      </div>
      <div class="column">
        <div class="reward-card <%= @user.level >= 4 ? 'unlocked' : 'locked' %>">
          <%= render 'shared/reward-card' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="reward-card <%= @user.level >= 5 ? 'unlocked' : 'locked' %>">
          <%= render 'shared/reward-card' %>
        </div>
      </div>
    </div>
  </div>
</div>
