<div class="banner-my-seeds">
  <div class="user-profile-header">
      <%= cl_image_tag current_user.photo, :gravity=>"face", :width=>234, :height=>234, :crop=>"thumb", class: "avatar-profile" %>
      <h1><%= @user.firstname%> <%= @user.lastname%></h1>
  </div>
  <div class="profile-content">
    <div class="level">
      <h2>Level : <%= @user.level %></h2>
    </div>
    <div class="current-seeds">
        <h2>Seeds</h2>
        <div class="progress">
          <div class="progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: <%= @user.seeds %>" aria-valuenow="<%= @user.seeds %>" aria-valuemin="0" aria-valuemax="500"></div>
        </div>

        <p><%= @user.seeds %> seeds</p>
    </div>
  </div>
</div>
<div class="calendar">
  <div></div>
</div>
<div class="rewards">
  <div class="level-1-reward">
  </div>
  <div class="level-2-reward">
  </div>
</div>

