
<a href="#modal-show<%= plant.id %>" class="card-link" data-toggle="modal" data-target="#modal-show<%= plant.id %>">
    <div class="card-plant">
      <%= cl_image_tag plant.plant.photo :width=>260, :height=>200, :gravity=>"auto", :crop=>"fill" %>
      <div class="card-trip-infos">
        <div>
          <h2> <%= plant.nickname %></h2>
          <p> Watered <%= plant.days_since_water %> <%=  "day".pluralize(plant.days_since_water) %> ago!</p>
        </div>
        <!-- this if statement needs to be update - if needs watered -->
        <% if plant.needs_water? %>
         <i class="fas fa-tint water-logo"></i>
        <% end %>
      </div>
    </div>
</a>
