<div class="banner-my-jungle" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path "banner2.jpg" %>)">
  <div class="jungle-header">
    <h1>Your Jungle</h1>
  </div>
</div>

<div class="jungle-content">
  <div class="seed-status-container">
    <%= render './shared/user-avatar',user: @user %>
    <div class="seed-status-text">
      <%= link_to user_path(@user) do %>
        <h6> <%= @user.firstname %></h6>
        <h6> <%= @user.followers.size %> <%= "follower".pluralize(@user.followers.size) %></h6>
        <h6><%= @user.seeds %> seeds!</h6>
      <% end %>
    </div>
    <div class="btn-add-container">
      <%= link_to "Add Plant", plants_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="jungle-plant-main-container">
    <div class="jungle-plant-main-container-sub">
      <div>
        <h4>
          Plants
        </h4>
      </div>
      <div class="jungle-card-container">
        <% @user_plants.each do |plant| %>
          <%= render 'shared/user-plant-card', plant: plant  %>
          <% if plant.needs_water? %>
            <%= render './shared/modal-water', plant: plant %>
          <% else %>
            <%= render './shared/modal-info', plant: plant %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="social">
      <div class="users">
        <h4>
          Users
        </h4>
        <%= render @users %>
      </div>
      <div class="following-activity">
        <h4>
          Activities
        </h4>
        <% @activities.order(created_at: :desc).each do |activity| %>
          <% next if activity.trackable.nil? %>
            <div>
              <% if activity.key == "user_plant.water_plant" %>
                <%= activity.owner.firstname + " " + activity.owner.lastname %> watered <%= activity.trackable.nickname %>
              <% elsif activity.key == "user_plant.create" %>
                <%= activity.owner.firstname + " " + activity.owner.lastname %> added a <%= activity.trackable.plant.name %> named <%= activity.trackable.nickname %>
              <% elsif activity.key == "follow.create" %>
                <%= activity.owner.firstname + " " + activity.owner.lastname %> started following <%= activity.trackable.following.firstname + " " +  activity.trackable.following.lastname %>
              <% else %>
                <% next %>
              <% end %>
            </div>
            <div class="likes">
              <div class="activity-like" data-id=<%= activity.id %>>
                <%= render "likes/like", activity:activity %>
              </div>
              <p>
                <em><%= seconds_to_days(Time.now() - activity.created_at) %></em>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
