<div class="banner-my-jungle" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path "banner2.jpg" %>)">
  <div class="jungle-header">
    <% if current_user == @user %>
      <h1>Your Jungle</h1>
    <% else %>
      <h1><%= @user.firstname %>'s Jungle</h1>
    <% end %>
  </div>
</div>

<div class="jungle-content">
  <div class="seed-status-container">
    <%= render './shared/user-avatar',user: @user %>
    <div class="seed-status-text">
      <%= link_to user_path(@user) do %>
        <h6> <%= @user.firstname %></h6>
        <h6> <%= @user.followers.size %> <%= "follower".pluralize(@user.followers.size) %></h6>
        <h6><%= @user.seeds %> seeds!</h6>
      <% end %>
    </div>
    <div class="btn-add-container">
      <%= link_to "Add Plant", plants_path, class: "btn btn-primary" %>
      <% unless current_user == @user %>
        <%= link_to "Follow", follow_user_path(@user), :method => :post, class: "btn btn-primary"  %>
      <% end %>
    </div>
  </div>
  <div class="jungle-plant-main-container">
    <div class="jungle-plant-main-container-sub">
      <h2>
        Plants that need watering
      </h2>
      <% if @plants_to_water.empty? %>
        <h4><em>(none)</em></h4>
      <% end %>
      <div class="jungle-card-container">
        <% @plants_to_water.each do |plant| %>
          <%= render 'shared/user-plant-card', plant: plant %>
          <%= render './shared/modal-water', plant: plant %>
        <% end %>
      </div>
      <h2>
        Plants that are thriving
      </h2>
      <div class="jungle-card-container">
        <% @plants_to_not_water.each do |plant| %>
          <%= render 'shared/user-plant-card', plant: plant %>
          <%= render './shared/modal-info', plant: plant %>
        <% end %>
      </div>
    </div>
    <div class="calendar-block">
      <h2>
        Upcoming Events
      </h2>
      <br>
      <div id="calendar" data-events="<%= current_user.user_plants.create_calendar_details %>"></div>
    </div>
  </div>
</div>
