<div class="banner-my-jungle" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path "banner2.jpg" %>)">
  <div class="jungle-header">
    <% if current_user == @user %>
      <h1>Your Jungle</h1>
    <% else %>
      <h1><%= @user.firstname %>'s Jungle</h1>
    <% end %>
  </div>
</div>

<div class="jungle-content">
  <div class="seed-status-container">
    <%= render './shared/user-avatar',user: @user %>
    <div class="seed-status-text">
      <%= link_to user_path(@user) do %>
        <h6> <%= @user.firstname %></h6>
        <h6> <%= @user.followers.size %> <%= "follower".pluralize(@user.followers.size) %></h6>
        <h6><%= @user.seeds %> seeds!</h6>
      <% end %>
    </div>
    <div class="btn-add-container">
      <%= link_to "Add Plant", plants_path, class: "btn btn-primary" %>
      <% unless current_user == @user %>
        <%= link_to "Follow", follow_user_path(@user), :method => :post, class: "btn btn-primary"  %>
        <% end %>
    </div>
  </div>
  <div class="jungle-plant-main-container">
    <div class="jungle-plant-main-container-sub">
      <div>
        <h4>
          Plants
        </h4>
      </div>
      <div class="jungle-card-container">
        <% @user_plants.each do |plant| %>
          <%= render 'shared/user-plant-card', plant: plant  %>
          <% if current_user == @user %>
            <% if plant.needs_water? %>
              <%= render './shared/modal-water', plant: plant %>
            <% else %>
              <%= render './shared/modal-info', plant: plant %>
            <% end %>
          <% end %>

        <% end %>
      </div>
    </div>
<!--     <div class="social">
      <div class="search-form">
        <form action="/users" method="get" class="form-inline my-2 my-lg-0">
          <input name="navsearch" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0 btn-primary" type="submit" ><i class="fas fa-search"></i></button>
        </form>
      </div> -->
     <!--  <div class="users">
        <h4>
          Users
        </h4>
        <%=  @users %>
      </div> -->
        <div class="calendar-block">
    <h3>Upcoming Events</h3>
    <br>
    <div id="calendar" data-events="<%= current_user.user_plants.create_calendar_details %>"></div>
  </div>
  <!-- <div class="rewards-cards-container">
      <div class="following-activity">
        <h4>
          Activities
        </h4>
        <% @activities.order(created_at: :desc).each do |activity| %>
          <% next if activity.trackable.nil? %>
            <div>
              <% if activity.key == "user_plant.water_plant" %>
                <%= activity.owner.firstname + " " + activity.owner.lastname %> watered <%= activity.trackable.nickname %>
              <% elsif activity.key == "user_plant.create" %>
                <%= activity.owner.firstname + " " + activity.owner.lastname %> added a <%= activity.trackable.plant.name %> named <%= activity.trackable.nickname %>
              <% elsif activity.key == "follow.create" %>
                <%= activity.owner.firstname + " " + activity.owner.lastname %> started following <%= activity.trackable.following.firstname + " " +  activity.trackable.following.lastname %>
              <% else %>
                <% next %>
              <% end %>
            </div>
            <div class="likes">
              <div class="activity-like" data-id=<%= activity.id %>>
                <%= render "likes/like", activity:activity %>
              </div>
              <p>
                <em><%= seconds_to_days(Time.now() - activity.created_at) %></em>
              </p>
            </div>
          </div>
        <% end %>
      </div> -->
    </div>
  </div>
</div>
