<div class="banner-my-jungle">
  <div class="jungle-header">
    <h1>Your Jungle</h1>
  </div>
</div>

<div class="jungle-content">
  <div class="seed-status-container">
    <%= render './shared/user-avatar' %>
    <div class="seed-status-text">
      <%= link_to user_path(current_user) do %>
        <p> <%= current_user.firstname %></p>
        <h5><%= current_user.seeds %> seeds!</h5>
      <% end %>
    </div>
    <div class="btn-add-container">
      <%= link_to "Add Plant", new_user_plant_path, class: "btn btn-primary" %>
<!--       <button type="button" class="btn btn-primary">Add Plant</button> -->
    </div>
  </div>
  <div class="jungle-card-container">
    <% @user_plants.each do |plant| %>
      <%= render 'shared/user-plant-card', plant: plant  %>
      <% if plant.needs_water? %>
        <%= render './shared/modal-water', plant: plant %>
      <% else %>
        <%= render './shared/modal-info', plant: plant %>
      <% end %>
    <% end %>
  </div>
</div>
