<div class="banner-my-jungle">
  <div class="jungle-header">
    <h1>Your Jungle</h1>
  </div>
</div>

<div class="jungle-content">
  <div class="seed-status-container">
    <%= render './shared/user-avatar' %>
    <div class="seed-status-text">
        <%= link_to user_path(current_user) do %>
          <p> <%= current_user.firstname %></p>
          <h5>1,785 seeds!</h5>
        <% end %>
    </div>
    <div class="btn-add-container">
      <button type="button" class="btn btn-primary">Add Plant</button>
    </div>
  </div>
  <div class="jungle-card-container">
    <%= render './shared/user-plant-card' %>
    <%= render './shared/user-plant-card' %>
    <%= render './shared/user-plant-card' %>
    <%= render './shared/user-plant-card' %>
  </div>
</div>
